<h1 class="display-4">
    Create An Appointment
</h1>
<hr />
<h4 class="text-muted" [hidden]="!isLoading">
    <i class="fa fa-spinner fa-animate" aria-hidden="true"></i>
    Loading <strong>Doctors</strong> and <strong>Locations</strong>...
</h4>
<form class="p-md-x-5" (ngSubmit)="onFormSubmit()" #createForm="ngForm" [hidden]="isLoading">
  <fieldset class="img-thumbnail p-3 my-2 mx-3">
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">
        First Name
      </label>
      <div class="col-sm-10">
        <input name="firstName" class="form-control" type="text" [(ngModel)]="appointment.patient.firstName" required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">
        Last Name
      </label>
      <div class="col-sm-10">
        <input name="lastName" class="form-control" type="text" [(ngModel)]="appointment.patient.lastName" required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailAddress" class="col-sm-2 col-form-label">
        Email Address
      </label>
      <div class="col-sm-10">
        <input name="emailAddress" class="form-control" type="email" [(ngModel)]="appointment.patient.emailAddress" required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="phoneNumber" class="col-sm-2 col-form-label">
        Phone Number
      </label>
      <div class="col-sm-10">
        <input name="phoneNumber" class="form-control" type="tel" [(ngModel)]="appointment.patient.phoneNumber" required="required">
      </div>
    </div>
  </fieldset>
  <fieldset class="img-thumbnail p-3 my-2 mx-3">
    <div class="form-group row">
      <label for="doctor" class="col-sm-2 col-form-label">
        Doctor
      </label>
      <div class="col-sm-10">
        <select name="doctor" class="form-control" [(ngModel)]="appointment.doctor" required="required">
          <option *ngFor="let doc of doctors" [ngValue]="doc">
            {{doc.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="location" class="col-sm-2 col-form-label">
        Location
      </label>
      <div class="col-sm-10">
        <select name="location" class="form-control" [(ngModel)]="appointment.location" required="required">
          <option *ngFor="let loc of locations" [ngValue]="loc">
            {{loc.name}}
          </option>
        </select>
      </div>
    </div>  
  </fieldset>
  <fieldset class="img-thumbnail p-3 my-2 mx-3">
    <div class="form-group row">
      <label for="reason" class="col-sm-2 col-form-label">
        Reason for Visit
      </label>
      <div class="col-sm-10">
        <textarea name="reason" class="form-control" rows="4" [(ngModel)]="appointment.visit.reason" required="required"></textarea>
      </div>
    </div>
  </fieldset>
  <fieldset class="img-thumbnail p-3 my-2 mx-3">
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">
        Requested Date
      </label>
      <div class="col-sm-10">
        <input name="date" class="form-control" type="date" [(ngModel)]="requestedDate" (ngModelChange)="updateSlots($event)" required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="slot" class="col-sm-2 col-form-label">
        Appointment Slot
      </label>
      <div class="col-sm-10">
        <select name="slot" class="form-control" [(ngModel)]="appointment.slot" [hidden]="!slotsReady" required="required">
          <option *ngFor="let slot of availableSlots" [value]="slot">
            {{slot | date:'shortTime' }}
          </option>
        </select>
      </div>
    </div>
  </fieldset>
  <div class="d-flex justify-content-end pt-4">
    <button type="reset" class="btn btn-danger mx-2">
      Clear Form
    </button>
    <button type="submit" class="btn btn-primary mx-2" [disabled]="!createForm.form.valid">
      Create Appointment
    </button>
  </div>
</form>