<h1 class="display-4">
    Welcome!
</h1>
<hr />
<p class="lead">
    The Appointment Manager Portal was designed to make it easier for you to view, manage and create appointments for your patients.
</p>
<div class="d-flex flex-column"> 
    <div class="d-flex flex-row flex-wrap justify-content-around align-content-stretch" style="flex: 1">
        <div class="card m-2" style="width: 22rem;">
            <img class="card-img-top" src="media/notebook.jpg" alt="View Today's Appointments">
            <div class="card-block">
                <h4 class="card-title">View Today's Appointments</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a routerLink="/today" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card m-2" style="width: 22rem;">
            <img class="card-img-top" src="media/reception.jpg" alt="Create New Appointment">
            <div class="card-block">
                <h4 class="card-title">Create New Appointment</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a routerLink="/create" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>