<div class="d-flex justify-content-center mb-3">
    <img src="/media/nav.png" class="w-50 h-50 img-fluid" />
</div>
<div class="mx-3">
    <h6 class="text-muted text-uppercase hidden-md-down mt-4 mb-2">Navigation</h6>
    <ul class="nav flex-column nav-fill">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-home mr-4 text-success" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/today">
                <i class="fa fa-calendar mr-4 text-info" aria-hidden="true"></i>
                Today
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create">
                <i class="fa fa-plus mr-4 text-primary" aria-hidden="true"></i>
                Create
            </a>
        </li>
    </ul>
</div>