<h1 class="display-4">
    Search Appointments
</h1>
<hr />
<p class="lead" *ngIf="query">
    Search query is : <strong>{{query}}</strong>
</p>
<h3>{{test}}</h3>
<table class="table table-striped" *ngIf="results.length > 0">
    <thead class="thead-inverse">
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of results">
            <th scope="row">
                {{result.slot | date:'MMM d'}}
            </th>
            <th scope="row">
                {{result.slot | date:'hh:mm a'}}
            </th>
            <td>
                {{result.firstName}}
            </td>
            <td>
                {{result.lastName}}
            </td>
            <td>
                <a href="mailto:{{result.emailAddress}}">
                    {{result.emailAddress}}
                </a>
            </td>
            <td>
                <a href="tel:{{result.phoneNumber}}">
                    {{result.phoneNumber}}
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + result.id">
                    View Visit History
                </button>
                <div class="modal fade" [id]="result.id" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                {{result.firstName}}&nbsp;{{result.lastName}}
                            </h5>
                            <em class="ml-auto mr-3">Visit History</em>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Test
                        </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>