<div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-xl-2 col-lg-3 p-3 img-thumbnail">
            <navigation></navigation>
        </aside>
        <main class="col-xl-10 col-lg-9 px-0 bg-faded">
            <nav class="navbar navbar-inverse bg-inverse">
                <span class="navbar-brand">
                    Appointment Dashboard
                </span>
            </nav>
            <article class="py-3 px-4">
                <router-outlet></router-outlet>
            </article>
        </main>
    </div>
</div>